.headertop-menu-wrapper {
    float: left;
    width: 100%;
}

.headertop-menu {
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.headertop-menu-item {
    display: block;
    width: 18%;
    float: left;
    position: relative;
    margin-right: 2%;
}

.has-submenu {
    padding-right: 25px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.headertop-menu-item > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.headertop-menu-item > a:hover {
    color: #ffffff;
}

.headertop-submenu {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-size: 18px;
    background-color: #c4a27c;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.dropshadow(offX=5, offY=5, color=#000000);
    filter: progid:DXImageTransform.Microsoft.shadow(direction=0, color=#000000, strength=15);
}

.headertop-submenu::after {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
    border: 10px solid transparent;
    border-bottom: 10px solid #c4a27c;
}

.headertop-submenu-item {
    display: block;
    float: left;
    width: 100%;
}

.headertop-submenu-item > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.headertop-submenu-item > a:hover {
    color: #ffffff;
}

.menu-item-arrow {
    position: absolute;
    top: 4px;
    right: 0;
    width: 20px;
    height: 20px;
    background: url(images/arrow-point-to-right.png) no-repeat center;
    background-size: 15px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}