.content-edit-wrapper {
    width: 100%;
    float: left;
}

.content-edit-headline {
    width: 100%;
    float: left;
    font-weight: bold;
    font-size: 20px;
}

#content-edit-form, .edit-form-section, #category-edit-form {
    display: block;
    width: 100%;
    float: left;
}

.edit-form-section {
    margin-bottom: 20px;   
    font-size: 16px;
}

#content-edit-form, #category-edit-form {
    margin: 20px 0;
}

.edit-form-question, .edit-form-answer {
    float: left;
}

.edit-form-question {
    width: 20%;
    margin-right: 4%;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #217c8a;
}

.edit-form-answer {
    position: relative;
    width: 76%;
}

.edit-form-input {
    display: block;
    border: 1px solid #217c8a;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    outline: 0;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #fff;
    color: #656c8a;
    font-size: inherit;
}

.form-input-text {
    width: 50%;
}

.edit-form-input:focus {
    border-color: #656c8a;
}

.form-submit-button {
    display: block;
    float: right;
    width: 40%;
    min-height: 40px;
    padding: 5px;
    border: none;
    outline: 0;
    background-color: #217c8a;
    color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
     box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#result-message {
    width: 40%;
    float: left;
}

.result-message-error, .result-message-success {
    position: relative;
    display: block;
    width: 100%;
    padding: 5px 25px 5px 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 16px;
}

.result-message-error {
    border-bottom: 2px solid #de2626;
    color: #de2626;
}

.result-message-success {
    border-bottom: 2px solid #4b913f;
    color: #4b913f;
}

.message-error-icon, .message-success-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 5px;
    background: url(/local/templates/sshepelev/images/content/result-icons.png) no-repeat center;
    background-size: 40px;
}

.message-error-icon {
    background-position: 0 0;
}

.message-success-icon {
    background-position: -20px 0;
}

.edit-buttons-wrapper {
    width: 100%;
    float: left;
}

.edit-action-button {
    display: block;
    float: left;
    width: 30%;
    min-height: 40px;
    padding: 5px;
    margin: 20px 4% 0 0;
    border: 0;
    outline: 0;
    border-bottom: 2px solid transparent;
    background-color: #217c8a;
    color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.edit-action-button:hover {
    border-color: #ffa41c;
    transition: border-color 0.5s ease 0s;
}

.action-button-active {
    border-color: #ffa41c;
}

.action-button-active:focus, .action-button-active:active {
    outline: none;
}

.edit-action-wrapper {
    float: left;
    width: 100%;
    overflow: hidden;
}

.edit-action-container {
    position: relative;
    width: 200%;
    float: left;
}

.edit-action-block {
    width: 50%;
    float: left;
}

.form-file-label, .form-file-wrapper {
    float: left;
}

.form-file-label {
    width: 50%;
}

.form-file-wrapper {
    width: 100%; 
    border: 1px solid #217c8a;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    outline: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #fff;
    color: #656c8a;
    cursor: pointer;
}

.form-file-wrapper > div {
    float: left;
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
}

.form-file {
    display: none !important;
}